<footer id="footer"
    class="container"
    [ngClass]="{ 'footer--to-bottom': footerToBottomClass }">

    <div id="footer__social" class="contianer">

        <a href="https://www.instagram.com/chris_milliano/" target="_blank" rel="noopener">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
        </a>

        <a href="https://www.facebook.com/chris.milliano" target="_blank" rel="noopener">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
        </a>

        <a href="https://twitter.com/chrismilliano" target="_blank" rel="noopener">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>

        <a href="tel:13149208946">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
            </span>
        </a>

        <a href="mailto:chris@itsmy.fyi">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
        </a>

    </div>

</footer>
