#login {
    width: 100vw;
    min-height: 100vh;
    background-color: #f00;
    display: flex;
    justify-content: center;
    align-items: center;

    #login__form {
        width: 90%;
        max-width: 600px;
        padding: 5vh 5vw;
        margin: 5vh auto;
        background-color: #0f0;

        .form__item {
            width: 80%;
            margin: 2vh auto;
            text-align: center;
        }

        .ng-valid[required], .ng-valid.required  {
            border-left: 5px solid #42A948; /* green */
        }

        .ng-invalid:not(form)  {
            border-left: 5px solid #a94442; /* red */
        }
    }
}
