<app-header></app-header>
<div id="home" class="container">

    <div id="home--intro" class="container">
        <div id="intro__text" class="container">
            <h1>YOU RUN YOUR GAME...</h1>
            <h2>WHILE WE RUN YOUR WEBPAGE</h2>

            <div id="intro__CTA"
                class="container cta-button"
                (click)="redirectTo('/sign-up')">
                Get your free page
            </div>
        </div>
    </div>

    <div id="home__what" class="container">
        <div id="what__contents" class="container">

            <h1 id="what__title">WHAT WE DO</h1>

            <h2 class="what__subtitle">
                We provide you with a free and easy to setup webpage
            </h2>
            <h3 class="what__subtitle">
                We want to get your name out there, while you build your reputation
                to a point where you can justify the time and money that building
                a full website requires
            </h3>


            <div id="what__page-layout" class="container">

                <div class="page-layout__item page-layout__image"
                    (click)="updateSelectedSection('image')">
                </div>

                <div class="page-layout__item page-layout__info"
                    (click)="updateSelectedSection('about')">
                    <div id="info__name" class="container">Jake Avery</div>
                    <div id="info__title" class="container">Graphic Designer</div>
                    <div id="info__text" class="container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>

                <div class="page-layout__item page-layout__social"
                    (click)="updateSelectedSection('social')">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-snapchat fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
                    </span>
                </div>

                <div class="page-layout__item page-layout__contact"
                    (click)="updateSelectedSection('cta')">
                    <div id="contact__cta-button" class="container">
                        CTA Button
                    </div>
                </div>

            </div>




            <div id="what__section-info" class="container">

                <div [ngClass]="{ 'section-info__text--show' : selectedSection == 'default' }"
                    class="container section-info__text">
                    <h3>CHECK IT OUT</h3>
                    <p>
                        Click around above to learn more about the importance of
                        each section!
                    </p>
                </div>
                <div [ngClass]="{ 'section-info__text--show' : selectedSection == 'image' }"
                    class="container section-info__text">
                    <h3>IMAGE</h3>
                    <p>
                        An image is a key to your success. People feel more comfortable
                        when they can put a face to the name.
                    </p>
                </div>
                <div [ngClass]="{ 'section-info__text--show' : selectedSection == 'about' }"
                    class="container section-info__text">
                    <h3>ABOUT</h3>
                    <p>
                        It should come as no surprise that one of the most
                        important pages on any website is the About section.
                        This where you get the chance to explain your mission:
                        who you are, what you do, and why you do it.
                    </p>
                </div>
                <div [ngClass]="{ 'section-info__text--show' : selectedSection == 'social' }"
                    class="container section-info__text">
                    <h3>SOCIAL</h3>
                    <p>
                        Social is quickly growing as the king of all marketing
                        options. Some major compaines are going so far as to
                        redirect their entire marketing budgets into social
                        content creatition and outreach.
                    </p>
                </div>
                <div [ngClass]="{ 'section-info__text--show' : selectedSection == 'cta' }"
                    class="container section-info__text">
                    <h3>CALL TO ACTION (CTA)</h3>
                    <p>
                        A CTA is the entire purpose of maintaining a webpage.
                        You have told them who you are, now it is time to ask
                        for the "sale".
                    </p>
                    <p>
                        Whether you are directing your users to an online store,
                        having them request a quote, inviting them to a concert,
                        or just telling them where they can keep up with you,
                        this is your oppritunity to do so.
                    </p>
                </div>

            </div>

        </div>
    </div>

    <div id="home__why" class="container">

        <hr id="hr--top" />

        <div id="why__contents" class="container">
            <h1>OUR MISSION</h1>

            <div id="why__sections" class="container">

                <div id="section-1" class="container contents__section">
                    <div class="container section__text">
                        <h2>The world deserves cool shit</h2>
                        <p>
                            Plain and simple, we live in and increasingly digital world.
                            We believe that for anyone to be taken seriously in any field
                            they need to step up their digital presence to back their skill.
                        </p>
                    </div>
                </div>

                <div id="section-2" class="container contents__section">
                    <div class="container section__text">
                        <h2>We can make cool shit</h2>
                        <p>
                            As every hustler coming to this page knows, ideas are a dime a
                            dozen. We believe in taking advantge of modern web practices to
                            make sites and services that are easily accesible and second to
                            none.
                        </p>
                    </div>
                </div>

                <div id="section-3" class="container contents__section">
                    <div class="container section__text">
                        <h2>We should GIVE people cool shit!</h2>
                        <p>
                            Not everyone is in a place where they have the time or money to
                            build out and maintain a personal website. Since we believe the
                            world deserves cool shit, we want you spending your time and
                            money doing what you do best to make that cool shit.
                        </p>
                        <p>
                            The goal is to provide our users access to a webpage while they
                            are getting their name out their in the early days, so they can
                            grow their business. We believe no one should be left out of
                            this new digital world, simply for cost or lack of web
                            development knowledge.
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <hr id="hr--bottom" />
    </div>

    <div id="home__pricing" class="container">
        <div id="pricing__contents" class="container">

            <div id="pricing__title" class="container">
                <h1>PRICING</h1>
            </div>

            <div id="pricing__text" class="container">
                <h3>
                    Our webpages are free!
                </h3>
                <p>
                    In the future we will be releasing paid add-ons, but the
                    basic page will remain free.
                </p>
                <p>
                    The objective of the add-ons will be to provide low cost
                    solutions to make your digital presense more accessible for
                    both you and your users.
                </p>
                <p>
                    More to come soon!
                </p>
            </div>

        </div>
    </div>

</div>


<app-footer></app-footer>
