@import "../../../variables.scss";

#home {

    #home--intro {
        width: 100vw;
        min-height: 56vw;
        background: $dk-gry url(/assets/images/home/intro_bkgd.jpg) no-repeat center center;
        background-size: cover;
        background-blend-mode: multiply;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3vh 0;

        #intro__text {
            width: 90%;
            margin: 0 auto;
            color: #fff;
            text-align: center;

            h1 {
                font-size: 10vh;
            }

            h2 {
                font-size: 6vh;
            }
        }

        #intro__CTA {
            background-color: $main-green;
            color: #000;
        }
    }

    #home__what {}

    #home__why {

        #why__contents {
            width: 90vw;
            max-width: 700px;

            .contents__section {
                width: 60vw;
                min-height: 60vw;
                float: left;
                margin-bottom: 2vh;
                background: $dk-gry no-repeat center center;
                background-size: cover;
                background-blend-mode: multiply;
                border: 1px solid #000;
                box-shadow: 0 10px 12px -6px #4d4d4d;
                display: flex;
                align-items: center;
                justify-content: center;

                @media all and (min-width: 992px) {
                    width: 500px;
                    min-height: 500px;
                }

                .section__text {
                    width: 80%;
                    margin: 2vh auto;
                    text-align: center;
                    color: #fff;

                    h2 {
                        color: $main-green;
                    }
                }

            }

            #section-1 {
                background-image: url(/assets/images/home/mission_section1.jpg);
            }

            #section-2 {
                background-image: url(/assets/images/home/mission_section2.jpg);
                float: right;
            }

            #section-3 {
                background-image: url(/assets/images/home/mission_section3.jpg);
            }

        }

        hr {
            height: 12px;
            border: 0;
        }

        #hr--top { box-shadow: inset 0 -12px 12px -12px rgba(0, 0, 0, 0.5); }

        #hr--bottom { box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); }
    }

    #home__how-much {}
}
