<app-header></app-header>
<div id="home" class="container">

    <div id="home--intro" class="container">
        <div id="intro__text" class="container">
            <h1>YOU RUN YOUR GAME...</h1>
            <h2>WHILE WE RUN YOUR WEBPAGE</h2>

            <div id="intro__CTA"
                class="container cta-button"
                (click)="redirectTo('/sign-up')">
                Get your free page
            </div>
        </div>
    </div>

    <div id="home__what" class="container">
        WHAT
    </div>

    <div id="home__why" class="container">

        <hr id="hr--top" />

        <div id="why__contents" class="container">
            <h1>OUR MISSION:</h1>

            <div id="section-1" class="container contents__section">
                <div class="container section__text">
                    <h2>The world deserves cool shit</h2>
                    <p>
                        Plain and simple, we live in and increasingly digital world.
                        We believe that for anyone to be taken seriously in any field
                        they need to step up their digital presence to back their skill.
                    </p>
                </div>
            </div>

            <div id="section-2" class="container contents__section">
                <div class="container section__text">
                    <h2>We can make cool shit</h2>
                    <p>
                        As every hustler coming to this page knows, ideas are a dime a
                        dozen. We believe in taking advantge of modern web practices to
                        make sites and services that are easily accesible and second to
                        none.
                    </p>
                </div>
            </div>

            <div id="section-3" class="container contents__section">
                <div class="container section__text">
                    <h2>We should GIVE people cool shit!</h2>
                    <p>
                        Not everyone is in a place where they have the time or money to
                        build out and maintain a personal website. Since we believe the
                        world deserves cool shit, we want you spending your time and
                        money doing what you do best to make that cool shit.
                    </p>
                    <p>
                        The goal is to provide our users access to a webpage while they
                        are getting their name out their in the early days, so they can
                        grow their business. We believe no one should be left out of
                        this new digital world, simply for cost or lack of web
                        development knowledge.
                    </p>
                </div>
            </div>

        </div>

        <hr id="hr--bottom" />
    </div>

    <div id="home__how-much" class="container">
        HOW MUCH
    </div>

</div>


<app-footer></app-footer>
