body {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    font-family: 'Lato', Helvetica; 
}

.container {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
}
